<table border="0"  class="fields" >

  <tr>
  <td>  <%= f.date_select :expense_date, :order => [:year, :month, :day], :use_short_month => true, :default => @expense.get_date %></td>
  <td>  <%= f.text_field :item_description, :size => 30, :maxlength => 40 %> </td>
  <td>  <%= f.collection_select :account_id, Account.find(:all, :order => "account"), :id, :account, {:prompt => "Select Expense Type"}, { "style" => "width:200px" } %> </td>
  <td>  <%= f.text_field :linecost, :format => "9999.99", :size => "7"   %> </td>
  <td> <%= f.text_field :linecost_euro, :size => "7" %> </td>
  <td> <%= f.text_field :exchangerate,  :size => "7" %> </td>
  <td>  <%= f.collection_select :project_id, Project.find(:all, :order => "description"), :id, :description, {:include_blank => "N/A (Not Applicable)"}, {"style" => "width:250px" } %> </td>
  <td>  <%= f.collection_select :user_id, User.find(:all), :id, :display_name, {:include_blank => "N/A (Not Applicable)"}, {"style" => "width:130px" , :onchange => "marketing_change(this)" } %> </td>
  <td width="70">  <%= f.check_box :ptslmarketing %> </td>
  <td>  <%= f.hidden_field :_destroy %>
        <%= link_to_function "Delete", "remove_fields(this)"  %>
  </td>

  </tr>
</table>

<script lang="javascript"> 
  function marketing_change(ele)
   {  
   var m_value = ele.value;  
   var m_id = ele.id;  
   checkbox_id = m_id.replace("user_id", "ptslmarketing");  
   var users = document.getElementById('all_ids');
   var users_array = new Array();     
   users_array = users.value.split(",");
   var marketing = document.getElementById('marketing')     
   var marketing_array =new Array();
   marketing_array = marketing.value.split(","); 
   var users_index = users_array.indexOf(m_value); 
   if (marketing_array[users_index] == "true")
      {        
	document.getElementById(checkbox_id).checked = "checked";
        document.getElementById(checkbox_id).disabled = true;
      }
  else
      { 
      document.getElementById(checkbox_id).checked = false;
      document.getElementById(checkbox_id).disabled = false;
      } 
  }  
</script>
