<% @page_title = 'Expense Report Entry' %>

<% form_tag expenses_path, :method => 'get' do %>
	<p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search by ID", :name => nil%>
	</p>	
<% end %>


<div class="list">
<% if @expenses.size > 0 %>
	<table>
		<tr>
			<th>Expense Id</th>
			<th>Title</th>
			<th>Created on</th>
			<th>Status</th>
			<th>Actions</th>
			
		</tr>
	
	 
	<% for expense in @expenses %>
		<tr class="<%= cycle('odd', 'even')%>">
			<td><%= h(expense.id.to_s) %></td>
			<td><%= h(expense.name) %></td>
			<td><%= expense.created_at.strftime("%b %d, %Y") %></td>
			<td><%= expense.status %></td>
			<td class="actions">
			   <%= link_to('Preview/Print', {:action => 'show', :id => expense},  :target => '_blank') %>
			   
			   <% if expense.status.include?('UNPAID') %>
			     <%= link_to('Edit', {:action => 'edit', :id => expense} ) %>
			     <%= link_to('Delete', { :action => 'destroy', :id => expense }, :confirm => 'Are you sure you want to permanently remove this expense report?', :method => :delete) %>
			   <% end %> 
			</td>   
			
		</tr>
	<% end %>
	</table>
<% end %>	
</div>	
<%= will_paginate @expenses %>

<p><%= link_to "New Expense", new_expense_path %></p>

